html {
    background: #444444;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px;
    padding: 40px;
    color: black;
    border-top: 10px solid black;
    background: #fff;
}
h1{
    font-size: 3em;
    margin: 0;
    color: rgb(223, 223, 223);
    text-shadow: 1px 2px 2px darkgray;
}
.introphrase {
    font-size: 20px;
    text-align: center;
    margin-left: 30%;
}
.CougarPic {
    float: right;
    margin-right: 20px;
    max-width: 150px;
    max-height: 150px;
}
.UplashImage {
    float: left;
}

p{
    line-height: 1.5em;
    text-align: center;
    margin-left: 30%;
}

#Blog {
    border-top: 1px dotted rgb(95, 95, 95);
    display: flex;
}
label {
    text-shadow: 1px 2px 2px rgb(109, 109, 109);
}
#links {
    font-size: 1em;
    color:rgb(41, 41, 41);

}
h2{
    text-shadow: 1px 2px 2px darkgray;
    color: rgb(41, 41, 41);
    text-align: center;
    margin-left: 30%;
    
}
h3{
    text-shadow: 1px 2px 2px darkgray;
    color: rgb(41, 41, 41);
}

header {
    position: sticky;
    background: rgb(107, 110, 112);
    font-size: 35px;
    top: 0px;
    min-height: 50% !important;
}

@media (max-width: 400px) {
    #Blog {
        display:flex;
        flex-direction: column;
    }
}